---
layout: default
permalink: "/portfolio/category/"
---
{% include categoryIndex.html %}
<div class="full light-grey">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Filed Under <small>#{{page.tag}}</small></h2>
      </div>
    </div>
  </div>
  {% assign related = site.portfolio | where: "categories", page.tag %}
  {% if related != nill and related != empty %}
  <div class="related-works">
    <div class="row">
      <div class="large-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        {% for work in related %}
      <li class="text-light-grey">
        <div class="work-wrapper">
          <a href="{{site.url}}{{site.baseurl}}/{{work.link_to}}" class="work">
            <img src="{{site.url}}{{site.baseurl}}/{{work.image}}" alt="">
            <div class="info">
              <h3>{{work.title}}</h3>
              <p>
              {% for cat in work.categories %}
              <span>{{cat}} {% unless forloop.last %}, {% endunless %}</span>
              {% endfor %}
            </p>
            </div>
          </a>
        </div>
      </li>
    {% endfor %}
    </ul>
    </div>
    </div>
  </div>
  {% endif %}
</div>
